/*! {<<>>} Google Fonts imports wear below <Start> {<<>>} */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
/*! {<<>>} Google Fonts imports wear below </> {<<>>} */

/*? <<>> Overall WebSite CSS Effects or Universal Selectot {Start }  <<>> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    border-style: none;
    font-family: 'Work Sans', sans-serif;
}

/*? <<>> Overall WebSite CSS Effects or Universal Selectot {End} <<>> */

/** <> Header Section CSS Stayle Start  <> */
/*! <> Nevbar Section CSS Stayle Start  <> */
header {
    background: rgba(255, 144, 14, 0.1);
}

.nevbar {
    padding: 50px 240px 116px 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nevbar-brand {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}

nav ul {
    display: flex;
    gap: 78px;
}

nav ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}

/*! <> Nevbar Section CSS Stayle End  <> */

/*! <> Banner Section CSS Stayle Start  <> */
.banner {
    padding: 0 240px;
    padding-bottom: 45px;
}

.banner-content {
    text-align: center;
    padding-bottom: 50px;
}

.banner-title {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: #131313;
}

.banner-discription {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding: 35px 0 35px 0;
}

.common-btn {
    padding: 20px 25px;
    background: #FF900E;
    border-radius: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

/*! <> Banner Section CSS Stayle End <> */
/** <> Header Section CSS Stayle End  <> */

/** <> Main Section CSS Stayle Start <> */

/*? <> feature Section CSS Stayle Start <> */
.feature {
    margin: 85px 301px 130px 301px;
    display: flex;
    gap: 75px;
}

.image-gallary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.feature-content {
    margin: auto 0;
}

.feature-title {
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}

.feature-title .black-color {
    color: #131313;
}

.feature-title .orrange-color {
    color: #FF900E;
}

.feature-description {
    padding: 25px 0 33px 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

/*? <> feature Section CSS Stayle End  <> */

/** <> Main Section CSS Stayle End  <> */

.hide {
    display: none;
}


/*! {<<>>} Responsive only for mobile-> Start {<<>>} */
@media screen and (max-width:576px) {

    /*! <> Nevbar Section mobile responsive Start  <> */
    .nevbar {
        padding: 31px 0;
        flex-direction: column;
    }

    .nevbar-brand {
        font-size: 30px;
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
    }

    nav {
        text-align: center;
        margin-top: 20px;
    }

    /*! <> Nevbar Section mobile responsive End  <> */

    /*? <> Banner Section mobile responsive Start  <> */
    .banner {
        padding: 20px 0;
        padding-top: 30px;
    }

    .banner-title {
        font-size: 40px;
        line-height: 1;
    }

    .banner-discription {
        font-size: 16px;
        font-style: normal;
        line-height: 25px;
        padding: 35px 30px 35px 30px;
    }

    .banner-img img {
        width: 100%;
        padding: 0 15px 0 15px;
    }

    /*? <> Banner Section mobile responsive End <> */

    /*? <> feature Section mobile responsive Start <> */
    .feature {
        margin: 31px 0 60px 0;
        flex-direction: column;
      }
    .image-gallary {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 24px;
    }
    .image-gallary img {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .feature-content {
        text-align: center;
    }
    /*? <> feature Section mobile responsive End <> */


/*! {<<>>} Responsive only for mobile-> End {<<>>} */